@import "tailwindcss";

:root {
  /* Colores Selaure */
  --gold-primary: #c9a55c;
  --gold-secondary: #e0c785;

  --black: #171717;
  --white: #ffffff;

  --background: #fffdf9;
  --background-soft: #f8f4ed;

  --text-primary: #171717;
  --text-secondary: #737373;

  --border: #e8e1d6;

  /* Bordes */
  --radius-sm: 8px;
  --radius-md: 14px;
  --radius-lg: 20px;

  /* Sombras */
  --shadow-sm: 0 2px 12px rgb(0 0 0 / 0.05);
  --shadow-md: 0 8px 30px rgb(0 0 0 / 0.08);
}

@theme inline {
  --color-gold-primary: var(--gold-primary);
  --color-gold-secondary: var(--gold-secondary);

  --color-selaure-black: var(--black);
  --color-selaure-white: var(--white);

  --color-background: var(--background);
  --color-background-soft: var(--background-soft);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border-selaure: var(--border);

  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);
  font-family: var(--font-body), sans-serif;
}